<h1 class="section_header">Create A New Gallery</h1>
<%= error_messages_for :gallery %>
<% form_for(:gallery, :url => galleries_path(:user => current_user.login)) do |f| %>
<p><b>Name</b><br />
<%= f.text_field :name %> </p>
<p><b>Description</b><br />
<%= f.text_area :description %> </p>
<p><%= submit_tag "Create" %> </p>
<% end %>